.main {
  position: relative;
  background-color: #252525;
  padding: 15vh;
  overflow: auto;
}
.main__title {
  font-size: 2.5rem;
  padding-top: 200px;
}
.pocket-title {
  font-size: 2rem;
  font-weight: 600;
}
.left-block {
  display: flex;
  align-items: center;
  position: relative;
}
.task-content {
  display: flex;
  align-items: center;
}
ul {
  padding: 0;
  list-style: none;
}

input[type='checkbox'] {
  margin-right: 15px;
}
.task-value {
  background: none;
  border: none;
  color: #fff;
  font-size: 1.2rem;
}
.task-item {
  display: grid;
  grid-template-columns: 1fr auto;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.05);
  border-radius: 0.1rem;
  box-shadow: 0 0 5px 0 black;
  margin-bottom: 15px;
  font-size: 1.5rem;
  width: 90%;
}
button {
  background: none;
  border: none;
  font-size: 1.5rem;
  color: #02495d;
}
.btn-main {
  position: fixed;
  bottom: 20px;
  right: 30px;
  width: 3%;
}
.btn-more {
  position: relative;
  padding: 0.2rem 0.5rem;
  border-radius: 0;
  box-shadow: 0 0 0 0;
  background: none;
  color: #fff;
}
.more-menu {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: -10px;
  left: 25px;
  background-color: #1d1d1d;
  border: 1px solid #fff;
  text-align: left;
  z-index: 9;
}
.more-menu__controls {
  font-size: 1rem;
  cursor: pointer;
  padding: 5px 20px;
}
.more-menu__controls:hover {
  background-color: #ffffff40;
  animation: drag 0.05s ease-in-out;
}
.relative {
  position: relative;
}

@keyframes drag {
  0% {
    transform: translateX(2px);
  }
  100% {
    transform: translateX(-2px);
  }
}
