.main {
  position: relative;
  background-color: #252525;
  padding: 15vh;
  overflow: auto;
}
.main__title {
  font-size: 2.5rem;
  padding-top: 200px;
}
.pocket-title {
  font-size: 2rem;
  font-weight: 600;
}

ul {
  padding: 0;
  list-style: none;
}

input[type='checkbox'] {
  margin-right: 15px;
}

li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgba(255, 255, 255, 0.05);
  border-radius: 0.1rem;
  box-shadow: 0 0 5px 0 black;
  margin-bottom: 15px;
  padding: 5px;
  font-size: 1.5rem;
  width: 90%;
}
button {
  background: none;
  border: none;
  font-size: 1.5rem;
  color: #02495d;
}
.btn-main {
  position: fixed;
  bottom: 20px;
  right: 30px;
  width: 3%;
}
