a {
  display: block;
  color: inherit;
  text-decoration: none;
}
.pockets-item {
  margin-bottom: 5px;
  padding: 0.5rem;
  cursor: pointer;
  font-weight: 300;
}

.pockets-item:hover {
  background-color: #ffffff40;
}
