.modal {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  height: 200px;
  width: 500px;
  background-color: rgba(28, 28, 28, 0.95);
  border: 1px solid white;
  border-radius: 0.5rem;
  box-shadow: 0 0 10px 0 black;
  z-index: 10;
}
.modal-header__title {
  margin-bottom: 10px;
}
.modal-header__input {
  color: #fff;
  border: none;
  border-radius: 0.5rem;
  padding: 0.5rem;
  background-color: rgba(255, 255, 255, 0.25);
  box-shadow: 0 0 5px 0 #000;
}
.modal-header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.modal-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}
.modal-buttons {
  margin: auto;
}
.enter,
.close {
  width: 85px;
}

.close {
  background-color: #000000;
  color: white;
  box-shadow: rgba(13, 10, 19, 0.4) 0 2px 4px,
    rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #0b0b0c 0 -3px 0 inset;
  margin-left: 20px;
}
.close:hover {
  box-shadow: rgba(13, 10, 19, 0.4) 0 4px 8px,
    rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #0b0b0c 0 -3px 0 inset;
}
.close:active {
  box-shadow: rgba(13, 10, 19, 0.4) 0 4px 8px,
    rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #0b0b0c 0 -3px 0 inset;
}
.error-message {
  border: 1px solid #ff0000;
  margin-bottom: 10px;
  padding: 0.5rem;
}
