.modal {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  height: 200px;
  width: 500px;
  background-color: rgba(28, 28, 28, 0.95);
  border: 1px solid white;
  border-radius: 0.5rem;
  box-shadow: 0 0 10px 0 black;
  z-index: 10;
}
.modal-header__title {
  margin-bottom: 10px;
}
.modal-header__input {
  color: #fff;
  border: none;
  border-radius: 0.5rem;
  padding: 0.5rem;
  background-color: rgba(255, 255, 255, 0.25);
  box-shadow: 0 0 5px 0 #000;
}
.modal-header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.modal-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}
.modal-buttons {
  margin: auto;
}
.close,
.enter {
  background: none;
  margin-right: 10px;
  padding: 5px 20px;
  font-size: 1.1rem;
  border: none;
  border-radius: 0.5rem;
  cursor: pointer;
  box-shadow: 0 0 5px 0 #000;
  transition: 0.3s ease-in-out;
}
.enter {
  border: 1px solid #00b1e3;
  background-color: #00b1e3;
  color: #fff;
}
.enter:hover {
  background-color: #fff;
  border: 1px solid #fff;
  color: #00b1e3;
}
.close {
  border: 1px solid #fff;
  color: #fff;
}
.close:hover {
  background-color: #000;
}
.error-message {
  border: 1px solid #ff0000;
  margin-bottom: 10px;
  padding: 0.5rem;
}
