.search-block {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.search {
  color: #fff;
  border: none;
  border-radius: 0.5rem;
  width: 100%;
  padding: 0.5rem;
  background-color: rgba(255, 255, 255, 0.267);
}
.search::placeholder {
  color: #fff;
}
