.login-page {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  padding: 100px 200px;
  box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px,
    rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #d6d6e7 0 -3px 0 inset;
  border-radius: 0.5rem;
}
.login-input {
  position: relative;
}
#login-label {
  position: absolute;
  left: 10px;
  top: 40%;
  transform: translateY(-50%);
  font-size: 1.5rem;
  color: #000;
  transition: 0.3s ease-in-out;
}

#login {
  font-size: 1.5rem;
  border-radius: 4px;
  border-width: 0;
  box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px,
    rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #d6d6e7 0 -3px 0 inset;
  margin-bottom: 10px;
  padding: 10px;
}
#login:focus {
  box-shadow: rgba(4, 0, 255, 0.4) 0 4px 8px,
    rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #d6d6e7 0 -3px 0 inset;
  transform: translateY(-2px);
  border: none;
  outline: none;
}
.btn-login {
  font-size: 1.5rem;
}

#login:focus ~ #login-label,
#login:valid ~ #login-label {
  transform: translateY(-60px);
}
